@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(/browse.php?u=WjhMBKJs0LX7O1dg21BILhtQ8JcSjONvH8Eq8kykXoZu8bre5dHdvxJggZdPaA8HWaJKyE5fPMAmpzVuGdQKXPfZhyfSt3v%2BSBtSJpDG3ISfPiIH%2BMAUDg%3D%3D&b=13) format('woff');
}
